<h1>Data Science Tools and Ecosystem<h1>

## In this notebook, Data Science Tools and Ecosystem are summarized

**Objectives:**

 - Some of the popular languages that Data Scientists use are:

1. Python
2. Java
3. C++
4. C

- Some of the commonly used libraries used by Data Scientists include:

1. TensorFlow
2. SciPy
3. NumPy
4. Matplotlib
5. Pandas

| Data Science Tools |
|--------------------|
| Jupyter Notebooks  |
| RStudio IDE        |
| GitHub             |

<h3>Below are a few examples of evaluating arithmetic expressions in Python<h3>

- This a simple arithmetic expression to mutiply then add integers

In [3]:
(3*4)+5

17

- This will convert 200 minutes to hours by diving by 60

In [5]:
def minutes_to_hours(minutes):
    hours = minutes / 60
    return hours
total_minutes = 200
converted_hours = minutes_to_hours(total_minutes)
print(f"{total_minutes} minutes is equal to {converted_hours:.2f} hours.")

200 minutes is equal to 3.33 hours.

<h2>Author<h2>
Mohammed Saif Ali